{% extends 'student_template/base_template.html' %}
{% block page_title %}
Home

<h1 align="center"> Lend a Hand </h1>
<p align="center"> Lend-A-Hand India is a non-profit venture launched in 2003 by young professionals. Based in Pune, India we have our registered offices in New York and London as well. </p>

<p align="center">We are working on improving the quality of secondary education towards solving the bigger issue of youth unemployment. We primarily seek to address disconnect between education imparted in schools and skills needed in real life, by incorporating job and life-skills training as a part of the secondary school curriculum. Our programs provide vocational training, career development, employment, and entrepreneurial opportunities to young boys and girls in rural and urban communities.</p>

<p align="center">Lend-A-Hand India also collaborates with dynamic grass root non-profit organizations to develop and implement innovative projects.</p>
{% endblock page_title %}

