{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->

<div class="brand-link">
      <div class="brand-text font-weight-light">Welcome {{ user.username }}!</div>
    </div>
    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            {% url 'student_home' as student_home %}
            <a href="{{ student_home }}" class="nav-link {% if request.path == student_home %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Home
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'student_profile' as student_profile %}
            <a href="{{ student_profile }}" class="nav-link {% if request.path == student_profile %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Student Profile
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'student_feedback' as student_feedback %}
           <a href="{% url 'student_feedback' %}" class="nav-link {% if request.path == student_feedback %} active {% endif %}">
             <i class="nav-icon fas fa-th"></i>
             <p>
               Feedback
             </p>
           </a>
         </li>
           

        </ul>
      </nav>
    </div>

  </aside>
   -->