{% extends 'staff_template/base_template.html' %}
{% block page_title %}
Add Agenda
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Agenda</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/add_agenda_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Class</label>
                    <select class="form-control" name="classes" required>
                      <option value="1st">1st Class</option>
                      <option value="2nd">2nd Class</option>
                      <option value="3rd">3rd Class</option>
                        <!--{% for course in courses %}
                            <option value="{{ course.id }}">{{ course.course_name }}</option>
                            
                        {% endfor %}-->
                    </select>
                  </div>
                  <div class="form-group" name="skill">
                    <label>Skill</label>
                    <select class="form-control" name="skills" required>
                      <option value="Teaching">Teaching</option>
                      <option value="Cooking">Cooking</option>
                      <option value="Plumbing">Plumbing</option>
                  <!--{% for course in courses %}
                      <option value="{{ course.id }}">{{ course.course_name }}</option>
  
                  {% endfor %}-->
              </select>
              <br>
                    <!--<input type="text" class="form-control" name="subject_name" placeholder="Enter Skill">-->
                    <div class="form-group">
                      <label>Subtopic</label>
                            <input type="text" class="form-control" placeholder="Enter The Subtopic" name="subtopic">
                              <!--<options value="{{ staff.id }}">{{ staff.first_name }} {{ staff.last_name }}</option>-->
                    </div>
                  </div>
                    <div class="form-group">
                    <label>Upload the Agenda</label>
                          <input type="file" class="form-control" placeholder="Upload The Agenda" name="agenda">
                        <label></label>
                  </div>
                  <div class="form-group">              
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                  </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Add Agenda</button>
                    <button type="reset" class="btn btn-primary float-right">Reset</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}