{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->

<div class="brand-link">
      <div class="brand-text font-weight-light">Welcome {{ user.username }}!</div>
    </div>
    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            {% url 'admin_home' as admin_home %}
            <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Home
              </p>
            </a>
          </li>
            <li class="nav-item">
            {% url 'add_staff' as add_staff %}
            <a href="{{ add_staff }}" class="nav-link {% if request.path == add_staff %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Staff
              </p>
            </a>
          </li>
             <li class="nav-item">
              {% url 'add_student' as add_student %}
            <a href="{% url 'add_student' %}" class="nav-link {% if request.path == add_student %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Student
              </p>
            </a>
          </li>
             <li class="nav-item">
            {% url 'add_course' as add_course %}
            <a href="{% url 'add_course' %}" class="nav-link {% if request.path == add_course %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Class
              </p>
            </a>
          </li>
            <li class="nav-item">
            {% url 'add_subject' as add_subject %}
            <a href="{% url 'add_subject' %}" class="nav-link {% if request.path == add_subject %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Skill
              </p>
            </a>
          </li>
          <li class="nav-item">
             {% url 'student_feedback_message' as student_feedback_message %}
            <a href="{% url 'student_feedback_message' %}" class="nav-link {% if request.path == student_feedback_message %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Feedback
              </p>
            </a>
          </li>


        </ul>
      </nav>
    </div>

  </aside>
   -->