{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->

<div class="brand-link">
      <div class="brand-text font-weight-light">Welcome {{ user.username }}!</div>
    </div>
    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            {% url 'staff_home' as staff_home %}
            <a href="{{ staff_home }}" class="nav-link {% if request.path == staff_home %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Home
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'add_link' as add_link %}
          
          <a href="{% url 'add_link' %}" class="nav-link {% if request.path == add_link %} active {% endif %} ">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Add Link
            </p>
          </a>
        </li>

          <li class="nav-item">
            {% url 'manage_student' as manage_student %}
            {% url 'select_student_class' as select_student_class %}
          
          <a href="{% url 'select_student_class' %}" class="nav-link {% if request.path == select_student_class %} active {% endif %} {% if request.path == manage_student %} active {% endif %}  ">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Manage Students
            </p>
          </a>
        </li>
           

        </ul>
      </nav>
    </div>

  </aside>
   -->